@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #d71920;
  --color-surface: #fff8f6;
  --color-on-surface: #251913;
}

body {
  @apply bg-surface text-on-surface font-body;
}

.btn-primary {
  @apply bg-primary text-white px-6 py-3 rounded-eight font-bold hover:opacity-90 transition-all active:scale-95;
}

.card-shadow {
  @apply shadow-[0_4px_20px_rgba(37,25,19,0.08)];
}

/* Componentes Globais */
header {
  @apply sticky top-0 z-50 bg-surface shadow-sm;
}

footer {
  @apply bg-surface-container-highest py-16 px-margin-desktop;
}
